/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 25px;
    margin: 15px 0;
    width: 100px;
    padding-right: 325px;
}
/* Your code starts here! */
/* Set every element's box-sizing to border-box */
* {
    /* margin:0 auto; */
    max-width: 1400px;
}
.header{
   width: 65%;
  height: 10%;
  /*position: fixed;
  background: teal;*/
   margin: 5% 0;
  /*vertical-align: top; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav{
  color: red;
  font-size: 18px;
  font-family: 'Gugi', sans-serif;
  margin-left: 25%;
  width: 65%;
  display: flex;

  /* padding-bottom: -50px; */
}
.nav a{
  color: gray;
  padding: 3%;
  margin-right: 3%;
  text-decoration: none;
}
img.logo{
  /* width: 100%; */
  /* height: 75px; */
  
  margin-left: 10%;
}
.title{
    display: flex;
    justify-content: space-around;
  margin-top: 100px;
  width: 95%;
  margin: 5%;
  margin-left: 15%;
}
.title h1{
  height: 250px;
  width: 25%;
  font-size: 75px;
  text-align: center;
  padding: 0px 75px;
  
}
.title button{
  font-size: 20px;
  width: 150px;
  height: 30px;
  background: white;
  border: 1px solid black;
}
.titleimg{
  width: 300px;
  height: 300px;
  margin-left: 80px;
}
.information{
    width: 65%;
    border-top: black 1px solid;
    padding: 7% 30%;
    /* margin: 0px 20%; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
/* .information p{
  width: 40%;
  height: 100px;
  
  padding-right: 80px; 
} */
.top-content{
    width: 50%;
}
.infoimg{
    margin: 3% 15%;
    width: 95%;
  }
.information2{
  width: 70%;
  border-bottom: black 1px solid;
  padding: 7% 30%;
  /* margin: 0px 50px; */
  display: flex;
  justify-content: space-around;

  

}
.bottom-content{
    width: 33%;
}
/* .information2 p{

  width: 30%;
  height: 10%;
  
} */
.information2 h2{
  padding-right: 80%;
}

.footer{
    margin-left: 25%;
}
.footer h2{
  margin: 25px 0px;
  margin-left: 50px;
}
.footer p{
  margin: 25px 0px;
  margin-left: 50px;
}
address{
  margin: 0px 50px;
  width: 20%;
  letter-spacing: 2;
}
.copyright{
 display: flex;
 justify-content: center;
}


@media (max-width: 800px){
    .header{
      flex-direction:column-reverse;
      align-items:center;
       margin-left: 20% 
    }
    .nav{
      width:100%;
    }
    .logo{
      margin:2% 0;
    }
    .title{
      justify-content:center;
    }
    .titleimg{
      display:none;
    }
    footer{
      text-align:center;
    }
    .information{
        justify-content: center;
    }
    .information2{
        justify-content: space-around;
        
    }
  }



  @media (max-width: 500px){
    .header{
      flex-direction:column-reverse;
      justify-content: center;
      align-items:center;
      
      width: 100%;
      height: 30%;
      
    
    }
    .nav{
      flex-direction:column;
     margin-left: 70%;
    }
    .title{
      flex-direction:column-reverse;
      align-items:center;
    }
    .information, .information2{
      flex-direction:column;
    }
    .top-content, .bottom-content{
      width:100%;
    }
    .contact{
      text-align:center;
    }
    footer{
      text-align:center;
    }
  }